<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<link rel="stylesheet" th:href="@{/css/bootstrap.css}">
<link rel="stylesheet" th:href="@{/css/datatables.min.css}">
<link rel="stylesheet" th:href="@{/css/datatables.bootstrap.min.css}">
<link rel="stylesheet" th:href="@{/css/style.css}">
<link rel="stylesheet" th:href="@{/css/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css/bootstrap-select.min.css}">
<link rel="stylesheet" th:href="@{/css/select.bootstrap4.min.css}">
<link th:rel="stylesheet"
	th:href="@{/js/dropzone-5.7.0/dist/dropzone.css}" />

<link rel="stylesheet"
	th:href="@{https://use.fontawesome.com/releases/v5.8.1/css/all.css}"
	integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf"
	crossorigin="anonymous">

<link th:href="@{https://fonts.googleapis.com/css?family=Lato}"
	rel="stylesheet">

<link
	th:href="@{https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css}"
	rel="stylesheet">

<script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
<script th:src="@{https://code.jquery.com/ui/1.10.4/jquery-ui.js}"></script>

<script th:src="@{/js/common.js}"></script>

<script th:src="@{/js/jquery-3.3.1.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/datatables.js}"></script>
<script th:src="@{/js/datatables.buttons.min.js}"></script>
<script th:src="@{/js/dataTables.select.min.js}"></script>
<script th:src="@{/js/datatables.colvis.min.js}"></script>
<script th:src="@{/js/jszip.min.js}"></script>
<script th:src="@{/js/pdfmake.min.js}"></script>
<script th:src="@{/js/vfs_fonts.js}"></script>
<script th:src="@{/js/buttons.html5.min.js}"></script>
<script th:src="@{/js/datatables.exports.js}"></script>
<script th:src="@{/js/datatables.bootstrap.min.js}"></script>
<script th:src="@{/js/jquery-ui/jquery-ui.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/dropzone-5.7.0/dist/min/dropzone.min.js}"></script>

<title th:text=#{html.title}></title>

</head>
</html>