<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">

    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css} "/>
    <link th:rel="stylesheet" th:href="@{/js/dropzone-5.7.0/dist/dropzone.css}"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="stylesheet" href="https://js.arcgis.com/4.12/esri/css/main.css">
    <link href="https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <script th:src="@{/webjars/jquery/3.4.1/jquery.min.js}"></script>
    <script th:src="@{/webjars/popper.js/2.5.2/umd/popper.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/dropzone-5.7.0/dist/min/dropzone.min.js}"></script>

<script type="text/javascript">
	function showAlarms(query) {
		window.location.href = '/derechos-mineros?query=' + query;

	}
	
	function showAlarmsConcentracion(query) {
		window.location.href = '/concentraciones?query=' + query;

	}
</script>


<title th:text=#{html.title}></title>

</head>
</html>