<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<div th:fragment="navbar">
	<nav class="navbar navbar-expand-lg navbar-light bg-white ">
		<a class="navbar-brand" th:href="@{/}"> <img
			src="/images/logo-oaw.png" height="72" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarSupportedContent">
			<ul class="navbar-nav  ">

				<li class="font-weight-bold nav-item mr-1 ml-2"><a
					class="nav-link" th:href="@{/files/}" th:text="#{breadcrumb.files}"></a></li>

				<li sec:authorize="hasAuthority('admin')"
					class="font-weight-bold nav-item dropdown mr-1 ml-2"><a
					class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
					role="button" data-toggle="dropdown" aria-haspopup="true"
					aria-expanded="false" th:text="#{breadcrumb.admin}"></a>
					<div class="dropdown-menu" aria-labelledby="navbarDropdown">
						<a class="dropdown-item" th:href="@{/users}"
							th:text="#{breadcrumb.users}"></a>
					</div></li>
			</ul>
		</div>
		<div sec:authentication="name"></div>
		<a class="nav-link" th:href="@{/logout}"> <i title="Cerrar sesión"
			class="fas fa-sign-out-alt fa-2x"></i>
		</a> <a class="navbar-brand" th:href="@{/}"> <img
			src="/images/logo-entity.png" height="72" alt="">
		</a>
	</nav>
</div>
<div th:fragment="navbarWithoutMenu">
	<nav class="navbar navbar-expand-lg navbar-light bg-white ">
		<a class="navbar-brand" th:href="@{/}"> <img
			src="/images/logo-oaw.png" height="72" alt="">
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse " id="navbarSupportedContent"></div>
		<a class="navbar-brand" th:href="@{/}"> <img
			src="/images/logo-entity.png" height="72" alt="">
		</a>
	</nav>
</div>
</html>